<!DOCTYPE html>
<html lang="en">
    <%- include('./partiels/head') %>
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bolg node | <%= title %> </title>
</head> -->
<body>
    <%- include('./partiels/nav') %>
    <!-- <nav>
        <div class="site-title">
            <a href="/"><h1>blog node</h1></a>
            <p>A net node site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>

        </ul>

    </nav> -->

    <div class="blogs-content">
        <h2>All Blogs</h2>
        <% if (blogs.length >0){ %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>

            <% }) %>

       <% } else{ %>
        <p>there are no blogs to display</p>
<% } %>

    </div>
    <%- include('./partiels/footer') %>
</body>
</html>